<p id="notice"><%= notice %></p>

<h1>Dashboards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to '文面', mail_templates_path %></td>
        <td><%= link_to '送信リスト', sends_path %></td>
      </tr>
  </tbody>
</table>

<br>
